:root{
    --mar-main-color: #FF4B4B;
}

body{
    line-height: 3rem;
    font-size: 1.6rem;
}
.content-center{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding:0 1.6rem;
    background-color: pink;
}

html{
    font-size: 10px;
}


header{
    .content-center{
        display: flex;
        align-items: center;
        gap: 50px;
        height: 8rem;
        ul.main-nav{
            display: flex;
            gap: 40px;
            margin-right: 50px;
            >li{
                a{
                    font-size: 1rem;
                }
            }
        }
        ul.gnb-list{
            display: flex;
            gap: 40px;
            margin-left: auto;
        }
    }
}