:root{
    --mar-main-color: #FF4B4B;
}

html{
    font-size: 10px;
}

body{
    line-height: 1;
    font-size: 1.6rem;
}

main {
    min-height: 250vh; 
}


.content-center{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding:0 1.6rem;
}

/* header */
header{
    .content-center{
        display: flex;
        align-items: center;
        gap: 50px;
        height: 8rem;
        color: #444242;
        font-size: 1.7rem;

        h1{
            max-width:120px;
            a{
                display: flex;
                align-items: center;
            }
        }
        ul.main-nav{
            display: flex;
            gap: 50px;
            margin-right: 50px;
            font-weight: 700;
            li{
                /* min-width:80px; */
            }
        }
        ul.gnb-list{
            display: flex;
            gap: 40px;
            margin-left: auto;
            font-weight: 700;
            li{ 
                display: flex;
                align-items: center;
                a{
                    display: block;
                    /* min-width:80px; */
                    img{
                        max-width:24px;
                    }
                }
            }
            .mypage{
                color: rgb(60, 179, 102);
                position: relative;
                ul.mypage_menu{
                    display: none;
                    flex-direction: column;
                    gap: 15px;

                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);

                    padding: 20px 20px;
                    color: #444242;
                    border: 1px solid #cfcdcd;
                    border-radius: 5px;
                    background-color: white;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                    li{
                        margin: 0 auto;
                        a{
                            display: block;
                            min-width: 80px;
                            text-align: center;
                        }
                    }
                    li:last-child{
                        font-size: 1.5rem;
                        margin-top: 30px;
                        color: rgb(234, 146, 146);
                    }

                }
            }
            .mypage:hover .mypage_menu{
                display: flex;
            }
        
        }
    }
}

/* footer */
.footer-top{
    border-top: 1px solid #d6d4d4;
    .content-center{
        /* background-color: rgb(247, 206, 213);   */
    }
}
.footer-check{
    padding-top: 20px;
    padding-bottom: 50px;
    display:flex;
    justify-content: flex-start;
    gap: 18px;
    li{
        &:nth-child(1){
            color: #2747dc;
            font-weight: 800;
        }
        &:last-child{
            font-weight: 800;
        }
    }
}