
.race-top-wrap{
    background-color: #f9f1f1;
    .banner-wrap{
        padding: 5rem 5rem;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        ul {
            padding: 0 5rem;
            display: flex;
            width: 100%;
            height: 300px;
            gap: 20px;
            li {
                flex: 1;
                transition: flex 0.4s;
                background: gray;
                border-radius: 15px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
    
                &:nth-child(1){
                    .banner-slider.default & {
                        flex: 3;
                    }
                }
    
                &.active {
                    flex: 3;
                }
                a{
                    width:100%;
                    height:100%;
                    display: block;
                    img{
                        width:100%;
                        height:100%;
                        object-fit:cover;
                        border-radius: 15px;
                    }
                }
    
            }
        }
    }
}
.race-wrap{
    padding: 2rem 0;
    color: #262626;

    .race-bottom-wrap{
        padding: 10px 0;
        h3{ 
            padding: 20px 0 ;
            color: #444444;
            font-size: 2.5rem;
        }
        ul#main-filter{
            display: flex;
            justify-content: flex-start;
            gap: 15px;
            li{ 
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #bab6b6;
                border-radius: 10px;
                padding: 10px 10px;
                cursor: pointer;
                line-height: 1;
                span{
                    padding-left: 10px;
                    font-size: 0.9rem;
                }
            }
        }
        .race-list-wrap{
            padding: 20px 0;
            ul.race-list{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 15px;
                row-gap: 30px;
                li{ 
                    cursor: pointer;
                    border: 1px solid #c0bcbc;
                    border-radius: 5px;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
                    .race-img{
                        border-radius: 5px;
                        /* height: 200px; */
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .race-info{
                        padding: 15px;
                        display:flex;
                        flex-direction: column;
                        gap:10px;
                        .race-title{
                            font-size: 2rem;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }
}
