{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'race/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'race/css/style.css' %}">
</head>
<body>
    <header>
        <div class="content-center">
            <h1 class="logo"><a href="#"><img src="" alt="헤더 로고"></a></h1>
            <nav>
                <ul class="main-nav">
                    <li><a href="#">마라톤 일정</a></li>
                    <li><a href="#">저장한 대회</a></li>
                    <li><a href="#">러닝화 찾기</a></li>
                </ul>
            </nav>
            <ul class="gnb-list">
                <li><a href="#">로그인</a></li>
                <li><a href="#">search</a></li>
            </ul>
        </div>
    </header>
    
    
    <main>

    </main>

    <footer>

    </footer>
</body>
</html>