{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'race/css/race.css'%}">
<link rel="stylesheet" href="{% static 'race/css/modal.css'%}">

{% endblock %}

{% block title %}
    마라토닉 | 대회목록
{% endblock %}

{% block content %}
<section class="banners">
    <h2 class="blind">배너 슬라이더</h2>
    <div class="race-top-wrap">
        <div class="banner-wrap">
            <ul class="banner-slider">
                <li class="banner active"><a href="#"><img src="{% static 'race/images/banner-sample.jpg'%}" alt="배너1"></a></li>
                <li class="banner"><a href="#"><img src="{% static 'race/images/banner-sample2.jpg'%}" alt="배너2"></a></li>
                <li class="banner"><a href="#"><img src="{% static 'race/images/banner-sample3.jpg'%}" alt="배너3"></a></li>
            </ul>
        </div>
    </div>
</section>
<section class="race-wrap">
    <div class="content-center">
        <h2 class="blind">대회 일정 리스트</h2>
        <div class="race-bottom-wrap">
            <h3>대회 목록</h3>
            {% include 'race/race_list.html' %}
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script defer src="{% static 'race/js/banner.js' %}"></script>
<script defer src="{% static 'race/js/modal.js' %}"></script>

{% endblock %}